# session密钥
SECRET_KEY=your-secret-key

# 数据库配置
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your-database-password
DB_NAME=your-database-name
DB_CHARSET=utf8
DB_CONNECT_TIMEOUT=10

#AI api key
AI_API_KEY=your-AI-api-key